#include <physical_layouts.dtsi>

/ {
    velvet_layout: velvet_layout {
        compatible = "zmk,physical-layout";
        display-name = "Layout";
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   83       0     0     0>
            , <&key_physical_attrs 100 100  100   83       0     0     0>
            , <&key_physical_attrs 100 100  200   45       0     0     0>
            , <&key_physical_attrs 100 100  300   20       0     0     0>
            , <&key_physical_attrs 100 100  400   45       0     0     0>
            , <&key_physical_attrs 100 100  500   45       0     0     0>
            , <&key_physical_attrs 100 100  625  233       0     0     0>
            , <&key_physical_attrs 100 100 1250   45       0     0     0>
            , <&key_physical_attrs 100 100 1350   45       0     0     0>
            , <&key_physical_attrs 100 100 1450   20       0     0     0>
            , <&key_physical_attrs 100 100 1550   45       0     0     0>
            , <&key_physical_attrs 100 100 1650   83       0     0     0>
            , <&key_physical_attrs 100 100 1750   83       0     0     0>
            , <&key_physical_attrs 100 100    0  183       0     0     0>
            , <&key_physical_attrs 100 100  100  183       0     0     0>
            , <&key_physical_attrs 100 100  200  145       0     0     0>
            , <&key_physical_attrs 100 100  300  120       0     0     0>
            , <&key_physical_attrs 100 100  400  145       0     0     0>
            , <&key_physical_attrs 100 100  500  145       0     0     0>
            , <&key_physical_attrs 100 100  725  233       0     0     0>
            , <&key_physical_attrs 100 100 1250  145       0     0     0>
            , <&key_physical_attrs 100 100 1350  145       0     0     0>
            , <&key_physical_attrs 100 100 1450  120       0     0     0>
            , <&key_physical_attrs 100 100 1550  145       0     0     0>
            , <&key_physical_attrs 100 100 1650  183       0     0     0>
            , <&key_physical_attrs 100 100 1750  183       0     0     0>
            , <&key_physical_attrs 100 100    0  283       0     0     0>
            , <&key_physical_attrs 100 100  100  283       0     0     0>
            , <&key_physical_attrs 100 100  200  245       0     0     0>
            , <&key_physical_attrs 100 100  300  220       0     0     0>
            , <&key_physical_attrs 100 100  400  245       0     0     0>
            , <&key_physical_attrs 100 100  500  245       0     0     0>
            , <&key_physical_attrs 100 100  675  133       0     0     0>
            , <&key_physical_attrs 100 100 1250  245       0     0     0>
            , <&key_physical_attrs 100 100 1350  245       0     0     0>
            , <&key_physical_attrs 100 100 1450  220       0     0     0>
            , <&key_physical_attrs 100 100 1550  245       0     0     0>
            , <&key_physical_attrs 100 100 1650  283       0     0     0>
            , <&key_physical_attrs 100 100 1750  283       0     0     0>
            , <&key_physical_attrs 100 100  200  345       0     0     0>
            , <&key_physical_attrs 100 100  300  320       0     0     0>
            , <&key_physical_attrs 100 100  425  358       0     0     0>
            , <&key_physical_attrs 100 100  649  205    1500     0 (-80)>
            , <&key_physical_attrs 100 100  823    0    3000     0 (-80)>
            , <&key_physical_attrs 100 100  655  912 (-3000)     0 (-80)>
            , <&key_physical_attrs 100 100 1013  677 (-1500)     0 (-80)>
            , <&key_physical_attrs 100 100 1300  358       0     0     0>
            , <&key_physical_attrs 100 100 1450  320       0     0     0>
            , <&key_physical_attrs 100 100 1550  345       0     0     0>
            ;
    };
};
