#include <physical_layouts.dtsi>

/ {
    velvet_layout: velvet_layout {
        compatible = "zmk,physical-layout";
        display-name = "Layout";
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   63       0     0     0>
            , <&key_physical_attrs 100 100  100   63       0     0     0>
            , <&key_physical_attrs 100 100  200   25       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   25       0     0     0>
            , <&key_physical_attrs 100 100  500   25       0     0     0>
            , <&key_physical_attrs 100 100  675  213       0     0     0>
            , <&key_physical_attrs 100 100 1250   25       0     0     0>
            , <&key_physical_attrs 100 100 1350   25       0     0     0>
            , <&key_physical_attrs 100 100 1450    0       0     0     0>
            , <&key_physical_attrs 100 100 1550   25       0     0     0>
            , <&key_physical_attrs 100 100 1650   63       0     0     0>
            , <&key_physical_attrs 100 100 1750   63       0     0     0>
            , <&key_physical_attrs 100 100    0  163       0     0     0>
            , <&key_physical_attrs 100 100  100  163       0     0     0>
            , <&key_physical_attrs 100 100  200  125       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  125       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 100 100  625  313       0     0     0>
            , <&key_physical_attrs 100 100 1250  125       0     0     0>
            , <&key_physical_attrs 100 100 1350  125       0     0     0>
            , <&key_physical_attrs 100 100 1450  100       0     0     0>
            , <&key_physical_attrs 100 100 1550  125       0     0     0>
            , <&key_physical_attrs 100 100 1650  163       0     0     0>
            , <&key_physical_attrs 100 100 1750  163       0     0     0>
            , <&key_physical_attrs 100 100    0  263       0     0     0>
            , <&key_physical_attrs 100 100  100  263       0     0     0>
            , <&key_physical_attrs 100 100  200  225       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  225       0     0     0>
            , <&key_physical_attrs 100 100  500  225       0     0     0>
            , <&key_physical_attrs 100 100  725  313       0     0     0>
            , <&key_physical_attrs 100 100 1250  225       0     0     0>
            , <&key_physical_attrs 100 100 1350  225       0     0     0>
            , <&key_physical_attrs 100 100 1450  200       0     0     0>
            , <&key_physical_attrs 100 100 1550  225       0     0     0>
            , <&key_physical_attrs 100 100 1650  263       0     0     0>
            , <&key_physical_attrs 100 100 1750  263       0     0     0>
            , <&key_physical_attrs 100 100    0  363       0     0     0>
            , <&key_physical_attrs 100 100  100  363       0     0     0>
            , <&key_physical_attrs 100 100  200  325       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  325       0     0     0>
            , <&key_physical_attrs 100 100  500  325       0     0     0>
            , <&key_physical_attrs 100 100 1250  325       0     0     0>
            , <&key_physical_attrs 100 100 1350  325       0     0     0>
            , <&key_physical_attrs 100 100 1450  300       0     0     0>
            , <&key_physical_attrs 100 100 1550  325       0     0     0>
            , <&key_physical_attrs 100 100 1650  363       0     0     0>
            , <&key_physical_attrs 100 100 1750  363       0     0     0>
            , <&key_physical_attrs 100 100  200  425       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100  425  438       0     0     0>
            , <&key_physical_attrs 100 100  649  285    1500     0     0>
            , <&key_physical_attrs 100 100  823   80    3000     0     0>
            , <&key_physical_attrs 100 100  655  992 (-3000)     0     0>
            , <&key_physical_attrs 100 100 1013  757 (-1500)     0     0>
            , <&key_physical_attrs 100 100 1300  438       0     0     0>
            , <&key_physical_attrs 100 100 1450  400       0     0     0>
            , <&key_physical_attrs 100 100 1550  425       0     0     0>
            ;
    };
};
